.navbar{
    padding: 1.5rem 1rem;
    opacity: 0.7;
    box-shadow: 2px 2px 5px #3292a6 ;
    /* background: #fff; */
}

/* .navbar .container{
    padding-left: 200px;
    padding-right: 200px;

} */

/* body{
    margin-top: 105px;
} */

.navbar .nav-item{
    font-size: 1.3rem;
    padding-right: 1.3rem;
}

/* .primary-overlay{
    rgba(50,146,166,0.8)
} */

#showcase{
    position: relative;
    background: url("../img/mizuxe/mountains.jpg");
    min-height: 600px;
    /* height: 600px; */
}

.primary-overlay{
    background-color: rgba(50,146,166,0.5);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;


}

.about-header{
    width: 50%;
    margin:auto;
    /* border-bottom: 1px solid ; */
}

.below-border{
    border-bottom: 1px solid #ddd; 
}

.btn-primary{
    background-color: #3292a6;
}


/* .card{
    position: relative;
} */

#bio img{
    /* position: absolute;     */
    /* transform: translate(0,-50%);     */
    margin-top: -50px;
    /* border-radius: 2rem; */
}

#bio i{
    color: #fff;
}

#bio .card:hover{
    background-color: #3292a6;
    color: #fff;
}


@media (max-width: 768px){

    #showcase{
        min-height: 500px;
    }

    .display-2{
        font-size: 3rem;
    }

    .mb-resp{
        margin-bottom: 1rem;
    }
}

